<!-- sidebar menu start-->
<ul class="feedlist mb-0 p-3">
    <li style="font-size:16px">
        <a href="/UserPanel/UserProfile" style="text-decoration:none;color: #81858b;">
            <i class="glyphicon glyphicon-user"></i>
            @if (string.IsNullOrWhiteSpace(UserSetAuthCookie.GetFullName(User.Identity.Name)) == false)
            {
                @UserSetAuthCookie.GetFullName(User.Identity.Name)
            }
            else
            {
                @UserSetAuthCookie.GetMobileNumber(User.Identity.Name)
            }
        </a>
    </li>
    @if (!UserSetAuthCookie.GetHasSejam(User.Identity.Name) && !UserSetAuthCookie.GetIsLegal(User.Identity.Name))
    {
        <li style="font-size:16px">
            <a href="/Account/SejamLogin" class="btn btn-danger" style="background-color:#ff1654"> دریافت اطلاعات از سجام </a>
        </li>
    }
    @if (ViewBag.UserStatus != null)
    {
        <li>
            <a style="font-size:14px" href="/BusinessPlans" class="btn btn-orange">شروع سرمایه گذاری</a>
        </li>
    }
    <li>
        <div class="panel-group" id="accordionMenu" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" style="color: #81858b;" role="button" data-toggle="collapse" data-parent="#accordionMenu" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span> منو
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <ul class="nav">
                            <li><a href="/UserPanel/UserPaymentBusinessPlan" style="text-decoration:none;color: #81858b;"><i class="glyphicon glyphicon-usd"></i>سرمایه گذاری من </a></li>
                            @if (@UserSetAuthCookie.GetIsLegal(User.Identity.Name))
                            {
                                <li><a href="/UserPanel/UserRequestFinancing" style="text-decoration:none;color: #81858b;"><i class="glyphicon glyphicon-usd"></i>تقاضای سرمایه </a></li>

                            }
                            <li><a href="/UserPanel/InvestmentsReport" style="text-decoration:none;color: #81858b;"><i class="glyphicon glyphicon-usd"></i> گزارش تراکنش ها</a></li>
                            <li>
                                <a href="/UserPanel/UserCommentBusinessPlan" style="text-decoration:none;color: #81858b;"><i class="glyphicon glyphicon-comment"></i>نظرهای من </a>
                            </li>
                            <li>
                                <a href="/UserPanel/UserQuestionBusinessPlan" style="text-decoration:none;color: #81858b;"><i class="glyphicon glyphicon-question-sign"></i>پرسش های من </a>
                            </li>
                            @if (UserSetAuthCookie.GetHasSejam(User.Identity.Name))
                            {
                                <li>
                                    <a href="/Account/SejamLogin" style="text-decoration:none;color: #81858b;">
                                        <i class="glyphicon glyphicon-user"></i>دریافت اطلاعات از سجام
                                    </a>
                                </li>
                            }
                            <li>
                                <a href="/UserPanel/UserProfile" style="text-decoration:none;color: #81858b;">
                                    <i class="glyphicon glyphicon-user"></i>اطلاعات کاربری
                                </a>
                            </li>
                            <li>
                                <a href="/UserPanel/UserProfile/ChangePassword" style="text-decoration:none;color: #81858b;">
                                    <i class="glyphicon glyphicon-lock"></i>تغییر رمز عبور
                                </a>
                            </li>
                            <li>
                                <a href="/UserPanel/Tickets" style="text-decoration:none;color: #81858b;">
                                    <i class="glyphicon glyphicon-envelope"></i>تیکت های پشتیبانی
                                </a>
                            </li>
                            <li><a href="/LogOut" style="text-decoration:none;color: #81858b;"><i class="glyphicon glyphicon-log-out"></i> خروج  </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>

