
@{
    ViewBag.Title = "گواهی شراکت";
}
<div class="text-center">
    <h6>
        سرمایه گذار محترم
    </h6>
    <h6>
        بدلیل عدم ارتباط موفق با سرور فرابوس، دانلود گواهی شراکت موفق نبود.
    </h6>
    <h6>
        لطفا بعدا مراجعه نمایید یا در صورت نیاز با پشتیبانی هم آفرین تماس بگیرید.
    </h6>
    <a class="btn btn-orange" href="/UserPanel/UserPaymentBusinessPlan">بازگشت</a>
</div>

