
@font-face {
    font-family: 'IRANSansWeb';
    src: url('../fonts/iransans/IRANSansWeb.eot') format('embedded-opentype');
    font-weight: normal;
}



@font-face {
    font-family: 'IRANSansWeb';
    src: url('../fonts/iransans/IRANSansWeb.ttf') format('truetype');
    font-weight: normal;
}



@font-face {
    font-family: 'IRANSansWeb';
    src: url('../fonts/iransans/IRANSansWeb.woff') format('woff');
    font-weight: normal;
}




























