@model IEnumerable<ViewModels.LstUsersAffiliateViewModel>
@using Kendo.Mvc.UI

@{
    ViewBag.Title = "فهرست ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@(Html.Kendo().Grid(Model)
                    .Name("Grid")
                    .Columns(columns =>
                    {
                    columns.Bound(model => model.UserID);
                    columns.Bound(model => model.MobileNumber);
                    columns.Bound(model => model.FirstName);
                    columns.Bound(model => model.LastName);
                    columns.Bound(model => model.NationalCode);
                    columns.Bound(model => model.IsActive);
                    columns.Bound(model => model.RegisterDate).Format("{0:yyy/MM/dd HH:mm}")
              .Template(@<text>
									@Html.ActionLink("لیست سرمایه گذاری ها", "PaymentList", "Tbl_Users", new {id = @item.UserID}, new {@class = "k-button k-button-icontext k-grid-Edit"})
        </text>).Width(200);
        })
		  .Groupable()
        .Pageable()
        .Sortable()
        .Filterable()
        .DataSource(dataSource => dataSource
                                    .Server()

                                    .Model(model => model.Id(item => item.UserID))
                    )
    )