@model IEnumerable<ViewModels.BusinessPlansItemViewModel>


<!-- active items start-->
<section class="container mt-3">
    <div class="section-header">
        <h5 class="h6 py-1 px-2 d-inline-block m-0">طرح های فعال</h5>
    </div>
    <div class="row py-2">

        @foreach (var item in Model)
        {
            @Html.Partial("_BoxPlans", item)
        }


    </div>
    <div class="d-flex justify-content-center">
        <a href="/BusinessPlans" class="btn btn-orange my-2">
            همه طرح ها
        </a>
    </div>
</section>
<!-- active items end -->
