@*<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Codento-791</title>
        <link href="~/Content/css/bootstrap-rtl.min.css" rel="stylesheet" />-->
        <link href='https://fonts.googleapis.com/css?family=Anton|Passion+One|PT+Sans+Caption' rel='stylesheet' type='text/css'>
    </head>
        <body>*@
<!-- Error Page -->
<div class="error">
    <div class="container-floud">
        <div class="col-12 ground-color text-center my-5">
            <div class="container-error-404">
                <div class="clip"><div class="shadow404"><span class="digit thirdDigit"></span></div></div>
                <div class="clip"><div class="shadow404"><span class="digit secondDigit"></span></div></div>
                <div class="clip"><div class="shadow404"><span class="digit firstDigit"></span></div></div>
                <!--<div class="msg">OH!<span class="triangle"></span></div>-->
            </div>
            <h2 class="h1">صفحه مورد نظر پیدا نشد</h2>
            <a href="/" class="btn-home">
                <span class="top-border"></span>
                <span class="right-border"></span>
                <span class="bottom-border"></span>
                <span class="left-border"></span> بازگشت به صفحه اصلی
            </a>
        </div>
    </div>
</div>
<!-- partial -->

@section Style{
    @*<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>*@
    <link href="~/Content/css/404.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/Content/js/404.js"></script>
}

@*</body>
    </html>*@
