@model DataLayer.Tbl_Settings
<footer class="bg-light-gray p-3 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="row">


                    <div class="col-xl-3">
                        <ul class="list-unstyled">
                            <li class="list-item"><span class="text-dark" style="font-size: 17px;">هم آفرین</span></li>
                            <li class="list-item"><a href="/AboutUs" class="text-muted small">درباره فاینتک</a></li>
                            <li class="list-item"><a href="/Permits" class="text-muted small">درباره هم آفرین</a></li>
                            <li class="list-item"><a href="/ContactUs" class="text-muted small">تماس با ما</a></li>
                            <li class="list-item">
                                <div class="row">
                                    <a href="@Model.Location" class="pl-3 pr-2" target="_blank">
                                        <img src="~/Content/img/location.svg" style="width:25px" />
                                    </a>

                                    <a href="@Model.AparatUrl" class="pl-3" target="_blank">
                                        <img src="~/Content/img/aparat.png" style="width:25px" />
                                    </a>
                                    <a href="@Model.LinkedinUrl" class="pl-3" target="_blank">
                                        <img src="~/Content/img/linkedin-icon.png" style="width:25px" />
                                    </a>

                                    <a href="@Model.InstagramUrl" class="pl-3" target="_blank">
                                        <img src="~/Content/img/instagram.png" style="width:25px" />
                                    </a>

                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="col-xl-3">
                        <ul class="list-unstyled">
                            <li class="list-item"><span class="text-dark" style="font-size: 17px;">راهنمای استفاده از هم آفرین</span></li>
                            <li class="list-item"><a href="/InvestmentProcess" class="text-muted small">فرایند سرمایه گذاری</a></li>
                            <li class="list-item"><a href="/InvestmentHelp/FinancingPage#home" class="text-muted small">فرایند درخواست سرمایه</a></li>
                            <li class="list-item"><a href="/CampaignProcess" class="text-muted small">سوالات متداول</a></li>
                        </ul>
                    </div>

                    <div class="col-xl-3">
                        <ul class="list-unstyled">
                            <li class="list-item"><span class="text-dark" style="font-size: 17px;">شرایط استفاده هم آفرین</span></li>
                            <li class="list-item"><a href="/SiteTermsConditions" class="text-muted small">قوانین و مقررات سایت</a></li>
                            <li class="list-item"><a href="/Privacy" class="text-muted small">حفظ حریم خصوصی</a></li>
                            <li class="list-item"><a href="/RiskAlertStatement" class="text-muted small">بیانیه هشدار ریسک</a></li>
                        </ul>
                    </div>

                    <div class="col-xl-3">
                        <center>
                            <a target="_blank" href="https://trustseal.enamad.ir/?id=135949&code=TeqhjFH2rTcfY7APll0n">
                                <img class="pull-left" src="~/Content/img/enamad.png" />
                            </a>

                            <a target="_blank" href="https://cf.ifb.ir/report/PlatformActivityLicenseTrustSealDetail?licenseguid=33c825db-e5cf-42d9-a1a1-9a31fa2f13ac">
                                <img class="pull-left img-responsive namad-img" id="rgvlgwmdxlaphwlabrgw" style="cursor:pointer; height:136px;"
                                     alt="" src="https://cf.ifb.ir/report/PlatformActivityLicenseTrustSealImage?licenseguid=33c825db-e5cf-42d9-a1a1-9a31fa2f13ac" />
                            </a>
                        </center>

                    </div>



                </div>


                <div class="divide-by-line">

                </div>

            </div>


        </div>

        <div class="container row">

            <div class="col-xl-12">
                <p class="text-muted small text-center mt-2 font-weight-bold">
                    کلیه حقوق این وب سایت متعلق به <a class="text-muted" href="https://www.irfintech.com/" style="text-decoration:none">شرکت مشاور سرمایه گذاری فراز ایده نو آفرین تک (فاینتک)</a> می باشد.
                </p>
                @*<center>
                        <span class="small text-muted">
                            برای اطلاع از آخرین طرح ها و بروزرسانی ها , ایمیل خود را وارد کنید
                        </span>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="ایمیل خود را وارد کنید" aria-label="Username" aria-describedby="basic-addon1">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-orange text-white" id="basic-addon1">ارسال</span>
                            </div>
                        </div>
                    </center>*@

            </div>


        </div>



    </div>
</footer>
