@model ViewModels.HeaderViewModel
<div class="row py-2 px-1">
    <div class="row col-12 col-md-7 mt-1">
        <span class="col-4 text-white">
            پاسخ گویی و دریافت نظرات
        </span>
        <span class="col-8 text-white">
            021-42417000 | 021-91071072
            @*<i class="icon-phone"></i> 021-42417000*@
        </span>
    </div>
    
    <div class="col-12 col-md-5 mt-1">
        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-12 col-md-6">

                <a href="@Model.TelegramUrl" target="_blank" style="text-decoration:none">
                    <i class="bi bi-telegram socialNetwork text-white mx-2"></i>
                <a href="@Model.InstagramUrl" target="_blank" style="text-decoration:none">
                    <i class="bi bi-instagram socialNetwork text-white mx-2"></i>
                    @*<i style="width:20px; align-content:center"><img src="~/Content/img/instagram.svg" style="width:18px;" class="mx-2" /></i>*@
                </a>
            </div>
        </div>
    </div>
</div>
