@model ViewModels.HeaderViewModel
<div class="row py-2 px-1">
    <div class="col-12 col-md-6 mt-1">
        <span class="text-white f">
            در حال بروزرسانی سکوی هم آفرین
        </span>
    </div>

    <div class="col-12 col-md-6 mt-1">
        <div class="row">
            <div class="col-md-6">
               
            </div>
            <div class="col-12 col-md-6">
                <span class="text-white">
                     021-42417000
                    @*<i class="icon-phone"></i> 021-42417000*@
                </span>
                @*<a href="" target="_blank" style="text-decoration:none">
            <i style="width:20px; align-content:center"><img src="~/Content/img/location.svg" style="width:30px;" class="mx-2" /></i>
        </a>*@
                @*<a href="" target="_blank" style="text-decoration:none">
            <i style="width:20px; align-content:center"><img src="~/Content/img/youtube.svg" style="width:18px;" class="mx-2" /></i>
        </a>*@
            <a href="@Model.LinkedinUrl" target="_blank" style="text-decoration:none">
                <i class="bi bi-linkedin socialNetwork text-white mx-2"></i>
                @*<i style="width:20px; align-content:center">
        <img src="~/Content/img/linkedin.svg" style="width:18px;" class="mx-2" />
        </i>*@
            </a>
            <a href="@Model.InstagramUrl" target="_blank" style="text-decoration:none">
                <i class="bi bi-instagram socialNetwork text-white mx-2"></i>
                @*<i style="width:20px; align-content:center"><img src="~/Content/img/instagram.svg" style="width:18px;" class="mx-2" /></i>*@
            </a>
            </div>
        </div>
    </div>
</div>
