@model ViewModels.IntroductionCompanyViewModel

@{
    ViewBag.Title = "SingleIntroductionCompany";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <center>
        <!-- Title -->
        <h1 class="mt-4 blog-title">@Model.IntroductionCompanyTitle</h1>

        <hr>

        <!-- Date/Time -->
        <span class="text-center"> @Model.IntroductionCompanyDescription</span>

        <hr>

    </center>

    <!-- Post Content -->
    <p>@Html.Raw(Model.IntroductionCompanyFullText)</p>



</div>


