<!-- sidebar menu start-->
<ul class="sidebar-menu">
    @*<li class="active">
            <a class="" href="/Admin">
                <i class="icon-dashboard"></i>
                <span>داشبورد</span>
            </a>
        </li>*@
    <li>
        <a class="" href="/">
            <i class="icon-home"></i>
            <span>صفحه اصلی</span>
        </a>
    </li>

    <li class="sub-menu">
        <a href="javascript:;" class="">
            <i class="icon-book"></i>
            <span>مدیریت محتوا</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub">

            <li><a class="" href="/Admin/Tbl_Blog"> اخبار و مقالات</a></li>
            <li><a class="" href="/Admin/Tbl_Sliders">اسلایدر</a></li>
            <li><a class="" href="/Admin/Tbl_InvestmentProcess">فرآیند سرمایه گذاری</a></li>
            <li><a class="" href="/Admin/Tbl_InvestmentHelp">سرمایه گذاری</a></li>
            <li><a class="" href="/Admin/Tbl_CapitalApplicantHelp">متقاضی  سرمایه</a></li>

        </ul>
    </li>

        <li class="sub-menu">
        <a href="javascript:;" class="">
            <i class="icon-book"></i>
            <span>مدیریت طرح ها</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub">
            <li><a class="" href="/Admin/Tbl_BussinessPlans"> طرح ها</a></li>
            <li><a class="" href="/Admin/Tbl_FutureBusinessPlan"> طرح های آینده</a></li>

        </ul>
    </li>

    <li class="sub-menu">
        <a href="javascript:;" class="">
            <i class="icon-user"></i>
            <span> مدیریت کاربران</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub">

            <li><a class="" href="/Admin/Tbl_Users">همه کاربران</a></li>
            <li><a class="" href="/Admin/Tbl_Users/UnSubmittedProfile">پروفایل های تایید نشده</a></li>
            <li><a class="" href="/Admin/Tbl_UserProfiles">پروفایل همه کاربران</a></li>
            <li><a class="" href="/Admin/Tbl_ShareHoldersCompany">سهام داران</a></li>
            <li><a class="" href="/Admin/Tbl_Investable">سرمایه پذیر</a></li>
            <li><a class="" href="/Admin/Tbl_Investor">سرمایه گذار</a></li>
        </ul>
    </li>

    <li class="sub-menu">
        <a href="javascript:;" class="">
            <i class="icon-user"></i>
            <span> مدیریت پرداخت ها</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub">

            <li><a class="" href="/Admin/Tbl_BusinessPlanPayment">همه پرداخت ها</a></li>
            <li><a class="" href="/Admin/Tbl_BusinessPlanPayment/DraftsPayments">پرداخت های ناقص</a></li>
            <li><a class="" href="/Admin/Tbl_BusinessPlanPayment/UnSubmittedPayments">پرداخت های تایید نشده</a></li>
            <li><a class="" href="/Admin/Tbl_BusinessPlanPayment/SubmittedPayments">پرداخت های تایید شده</a></li>
            <li><a class="" href="/Admin/Tbl_PaymentReturned/">انصراف از سرمایه گذاری</a></li>
        </ul>
    </li>
    <li class="sub-menu">
        <a href="javascript:;" class="">
            <i class="icon-book"></i>
            <span>منو</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub">
            <li><a href="/Admin/Tbl_Menu">منو ها </a></li>
            <li><a href="/Admin/Tbl_MenuType">منو صفحات</a></li>
            <li><a href="/Admin/Tbl_Pages">صفحات</a></li>
            <li><a href="/Admin/Tbl_Galleries">تصاویر  </a></li>

        </ul>
    </li>
    <li class="sub-menu">
        <a href="javascript:;" class="">
            <i class="icon-book"></i>
            <span>نظرات  </span>
            <span class="arrow"></span>
        </a>
        <ul class="sub">
            <li><a href="/Admin/Tbl_CommentPlan">مدیریت نظرها </a></li>

        </ul>
    </li>
    <li class="sub-menu">
        <a href="javascript:;" class="">
            <i class="icon-book"></i>
            <span>پرسش و پاسخ  </span>
            <span class="arrow"></span>
        </a>
        <ul class="sub">
            <li><a href="/Admin/Tbl_BusinessPlanQuestion">مدیریت پرسش و پاسخ </a></li>

        </ul>
    </li> 
    <li class="sub-menu">
        <a href="javascript:;" class="">
            <i class="icon-book"></i>
            <span>تیکت ها</span>
            <span class="arrow"></span>
        </a>
        <ul class="sub">
            <li><a href="/Admin/Tbl_Tickets">مدیریت تیکت پشتیبانی </a></li>

        </ul>
    </li>

    <li class="sub-menu">
        <a href="javascript:;" class="">
            <i class="icon-cogs"></i>
            <span>تنظیمات </span>
            <span class="arrow"></span>
        </a>
        <ul class="sub">
            <li><a href="/Admin/Tbl_Settings">تنظیمات کل</a></li>
            <li><a href="/Admin/Tbl_Settings/EditFooter">پاورقی</a></li>
            <li><a href="/Admin/Tbl_Settings/IntroductionCompany">معرفی شرکت</a></li>

        </ul>
    </li>

    <li>
        <a class="" href="/LogOut">
            <i class="icon-signout"></i>
            <span>خروج</span>
        </a>
    </li>

</ul>

