@model IPagedList<ViewModels.BlogItemViewModel>
@using PagedList.Mvc
@using PagedList

@{ var pastSize = ViewBag.Count;}

@{
    ViewBag.Title = "اخبار";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ if (pastSize > 0)
    {
        int count = 5;


        if (Request.Browser.IsMobileDevice)
        {
            count = 3;
        }
    <section class="container mt-3">
        <div class="section-header">
            <h1 class="h6 py-1 px-2 d-inline-block page-title m-0">اخبار</h1>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 my-4">
            @foreach (var item in Model)
            {
                @Html.Partial("_CardBlog", item)
            }
        </div>
        @Html.PagedListPager(Model, page => Url.Action("index", new { page }), new PagedListRenderOptions { MaximumPageNumbersToDisplay = count })
    </section>
    }
}

