<div class="container-fluid">
    <div style="height:90px;" class="d-sm-none"></div>
    
    <h3 class="text-center font-size-normal text-bold">مزایای تامین سرمایه در هم آفرین</h3>

    <div class="row mt-md-5">
        <div class="col-12 col-md-4 pr-0">

            <div class="col-12 mt-5">
                <div class="row">
                    <div class="col-3 border-left d-flex">
                        <img class="w-100" src="~/Content/img/financing/1.svg" />
                    </div>
                    <div class="col-9">
                        <div class="help">
                            <a class="text-dark" data-toggle="collapse" href="#collapse1" onclick="GoToElement('mydiv1')" style="text-decoration:none">آسانی و سرعت تامین مالی</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-12 mt-5">
                <div class="row">

                    <div class="col-3 border-left d-flex">
                        <img class="w-100" src="~/Content/img/financing/2.svg" />
                    </div>
                    <div class="col-9">
                        <div class="help">
                            <a class="text-dark" data-toggle="collapse" href="#collapse2" onclick="GoToElement('mydiv2')" style="text-decoration:none">شهرت برند با مشتریان دائمی</a>
                        </div>

                    </div>


                </div>
            </div>


            <div class="col-12 mt-5">
                <div class="row">
                    <div class="col-3 border-left d-flex">
                        <img class="w-100" src="~/Content/img/financing/3.svg" />
                    </div>
                    <div class="col-9">
                        <div class="help">
                            <a class="text-dark" data-toggle="collapse" href="#collapse3" onclick="GoToElement('collapse1')" style="text-decoration:none">دسترسی همه به منابع مالی</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-12 mt-5">
                <div class="row">
                    <div class="col-3 border-left d-flex">
                        <img class="w-100" src="~/Content/img/financing/4.svg" />
                    </div>
                    <div class="col-9">
                        <div class="help">
                            <a class="text-dark" data-toggle="collapse" href="#collapse4" onclick="GoToElement('collapse2')" style="text-decoration:none">بازاریابی فراگیر</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>



        <div class="col-12 col-md-4">
            <center>
                <img class=" d-sm-block" style="height:400px; width: 100%;" src="~/Content/img/Motaghazi_Page_Mazaya.jpg" />
            </center>

        </div>



        <div class="col-12 col-md-4">


            <div class="col-12 mt-5">
                <div class="row">
                    <div class="col-9 text-left border-left">
                        <div class="help">
                            <span class="text-dark"></span>
                            <a class="text-dark" data-toggle="collapse" href="#collapse5" onclick="GoToElement('collapse3')" style="text-decoration:none">ایجاد شبکه مشتریان</a>
                        </div>
                    </div>
                    <div class="col-3">
                        <center>
                            <img class="w-100" src="~/Content/img/financing/5.svg" />
                        </center>

                    </div>
                </div>
            </div>


            <div class="col-12 mt-5">
                <div class="row">
                    <div class="col-9 text-left border-left">
                        <div class="help">
                            <span class="text-dark"></span>
                            <a class="text-dark" data-toggle="collapse" href="#collapse6" onclick="GoToElement('collapse4')" style="text-decoration:none">حفاظت از منافع بلندمدت طرح</a>
                        </div>
                    </div>
                    <div class="col-3">
                        <center>
                            <img class="w-100" src="~/Content/img/financing/6.svg" />
                        </center>

                    </div>
                </div>
            </div>


            <div class="col-12 mt-5">
                <div class="row">
                    <div class="col-9 text-left border-left">
                        <div class="help">
                            <a class="text-dark" data-toggle="collapse" href="#collapse7" onclick="GoToElement('collapse5')" style="text-decoration:none">کمک به رشد بیشتر</a>
                        </div>
                    </div>
                    <div class="col-3">
                        <center>
                            <img class="w-100" src="~/Content/img/financing/7.svg" />
                        </center>

                    </div>
                </div>
            </div>


            <div class="col-12 mt-5">
                <div class="row">
                    <div class="col-9 text-left border-left">
                        <div class="help">
                            <a class="text-dark" data-toggle="collapse" href="#collapse8" onclick="GoToElement('collapse6')" style="text-decoration:none">سایر موارد</a>
                        </div>
                    </div>
                    <div class="col-3">
                        <img class="w-100" src="~/Content/img/financing/8.svg" />

                    </div>
                </div>
            </div>


        </div>

        @*<div class="col-md-1"></div>*@

    </div>

    <div class="col-12 mb-3" id="headermydiv1">

    </div>
    <br />

    <div class="container-fluid container-md">
        <div class="col-12" id="headermydiv2">

        </div>
        <div class="row mt-5 mb-5">

            <div class="col-md-1"></div>
            <div class="col-12 col-md-11" id="accordion">



                <div class="mt-4">
                    <div id="headercollapse1" class="">
                        <i class="bi bi-check2-circle text-warning font-weight-bold" style="font-size:17px;"></i>
                        <a class="card-link mr-md-2" data-toggle="collapse" href="#collapse1">
                            <span class="text-dark font-weight-bold">آسانی و سرعت تامین مالی</span>
                        </a>
                    </div>
                    <div id="collapse1" class="collapse mr-md-2" data-parent="#accordion">
                        <div class="card-body">
                            <p class="mr-md-2 font-weight-normal">
                                از بسیاری جهات ، سرمایه گذاری جمعی نسبت به اشکال سنتی تامین مالی آسان تر و سریعتر است. کارآفرینان به سادگی طرح خود را در سکوی هم آفرین منتشر می کنند و سپس با ایجاد کمپین های تبلیغاتی سرمایه لازم را جذب خواهند نمود.
                            </p>
                        </div>
                    </div>
                </div>


                <div class="mt-4">

                    <div id="headercollapse2" class="">
                        <i class="bi bi-check2-circle text-warning font-weight-bold" style="font-size:17px;"></i>
                        <a class="card-link mr-md-2" data-toggle="collapse" href="#collapse2">
                            <span class="text-dark font-weight-bold">شهرت برند با مشتریان دائمی</span>
                        </a>
                    </div>
                    <div id="collapse2" class="collapse mr-md-2" data-parent="#accordion">
                        <div class="card-body">
                            <p class="mr-md-2 font-weight-normal">
                                یکی از مزایای تامین مالی جمعی این است که شما صدها یا هزاران مشتری فعلی یا بالقوه خود را جذب می کنید و همزمان با جمع آوری سرمایه ، مشتریان جدیدی را برای طرح خود آماده می کنید. در این صورت هم مشتریان شما و هم وفاداری آنها به محصول شما افزایش می یابند در نتیجه برند شرکت ارتقا خواهد یافت. به عبارت دیگر  بهترین راه برای همسو کردن منافع شما با مشتریان و متعهد ساختن آنها به موفقیت شما این است که به آنها اجازه دهید در شرکت شما سرمایه گذاری کنند.  در اینصورت مشتریان وفادار، سفیران واقعی برند خواهند شد.
                            </p>
                        </div>
                    </div>
                </div>



                <div class="mt-4">
                    <div id="headercollapse3" class="">
                        <i class="bi bi-check2-circle text-warning font-weight-bold" style="font-size:17px;"></i>
                        <a class="card-link mr-md-2" data-toggle="collapse" href="#collapse3">
                            <span class="text-dark font-weight-bold">دسترسی همه به منابع مالی</span>
                        </a>
                    </div>
                    <div id="collapse3" class="collapse mr-md-2" data-parent="#accordion">
                        <div class="card-body">
                            <p class="mr-md-2 font-weight-normal">
                                احتمالاً بارزترین دلیل استفاده کارآفرینان از تأمین مالی جمعی، توانایی جذب سرمایه از طریق روشهای غیر سنتی است. در گذشته، مشاغل در صورت نیاز به تأمین سرمایه، گزینه ها و فرصت های محدودی برای جمع آوری پول داشتند و فقط بانک ها، سرمایه گذاران فرشته و سرمایه گذاران خطرپذیر مورد توجه صاحبان مشاغل برای تامین مالی بودند و متاسفانه کارآفرینان و کسب و کارهای کوچک کمتر به این منابع دسترسی داشتند .
                                با این حال امروز،  مشاغل در هر اندازه ای و در هر مکان جغرافیایی، در سراسر کشور به صورت عادلانه با راه اندازی یک کمپین سرمایه گذاری جمعی موفق ، می توانند به بودجه مورد نیاز طرح خود دسترسی پیدا کنند.
                            </p>
                        </div>
                    </div>
                </div>


                <div class="mt-4">
                    <div id="headercollapse4" class="">
                        <i class="bi bi-check2-circle text-warning font-weight-bold" style="font-size:17px;"></i>
                        <a class="card-link mr-md-2" data-toggle="collapse" href="#collapse4">
                            <span class="text-dark font-weight-bold">بازاریابی فراگیر</span>
                        </a>
                    </div>
                    <div id="collapse4" class="collapse mr-md-2" data-parent="#accordion">
                        <div class="card-body">
                            <p class="mr-md-2 font-weight-normal">
                                برای موفقیت در کمپین تامین مالی جمعی شما باید اقدام به برگزاری رویدادها و تبلیغات در فضای مجازی و حضور فعال در رسانه ها و ... داشته باشید در نتیجه کسب و کار شما بیشتر در معرض دید قرار خواهد گرفت.
                            </p>
                        </div>
                    </div>
                </div>



                <div class="mt-4">
                    
                    <div id="headercollapse5" class="">
                        <i class="bi bi-check2-circle text-warning font-weight-bold" style="font-size:17px;"></i>
                        <a class="card-link mr-md-2" data-toggle="collapse" href="#collapse5">
                            <span class="text-dark font-weight-bold">ایجاد شبکه مشتریان</span>
                        </a>
                    </div>
                    <div id="collapse5" class="collapse mr-2" data-parent="#accordion">
                        <div class="card-body">
                            <p class="mr-md-2 font-weight-normal">
                                تامین مالی جمعی، طرفداران شما را به عنوان یک شبکه بزرگ و متنوع از سرمایه گذاران، هر کدام با شبکه های خاص خود، آماده حمایت از طرح شما می کند. اگر قبلاً شبکه ای دارید ، این یک روش عالی برای جذب و اجازه دادن به آنها در گسترش موفقیت شما است. در حقیقت در این روش شما هم سرمایه مورد نیاز خود را به دست می آورید و هم به چیزهایی به مراتب ارزشمند تر از پول خواهید رسید .
                                در این روش بسیاری از کمپین ها به اهداف مالی خود می رسند، زیرا حامیان اولیه آنها از طرفی احساس تحسین نسبت به طرح، محصول یا خدمات می کنند ، و از طرف دیگر تعصب گریز از ضرر را دارند زیرا در بعضی موارد، اگر هدف تأمین مالی محقق نشود، طرح احتمالاً  اجرا نخواهد شد.
                                بنابراین تامین مالی جمعی حامیان شما را به مبشران برند تبدیل می کند و در شبکه های آنها درباره این طرح تبلیغ می کنند.

                            </p>
                        </div>
                    </div>
                </div>


                <div class="mt-4">
                    <div id="headercollapse6" class="">
                        <i class="bi bi-check2-circle text-warning font-weight-bold" style="font-size:17px;"></i>
                        <a class="card-link mr-md-2" data-toggle="collapse" href="#collapse6">
                            <span class="text-dark font-weight-bold">حفاظت از منافع بلندمدت طرح</span>
                        </a>
                    </div>
                    <div id="collapse6" class="collapse mr-md-2" data-parent="#accordion">
                        <div class="card-body">
                            <p class="mr-md-2 font-weight-normal">
                                بعد از یک کمپین تأمین مالی جمعی، هیچ تغییری در سهامداری شرکت و مدیریت آن ایجاد نخواهد شد. بنابراین ضمن تامین مالی طرح ها و به دست آوردن امتیازات و مزایای فوق العاده، منافع بلند مدت شرکت حفظ خواهد شد.
                            </p>
                        </div>
                    </div>
                </div>



                <div class="mt-4">
                    <div id="headercollapse7" class="">
                        <i class="bi bi-check2-circle text-warning font-weight-bold" style="font-size:17px;"></i>
                        <a class="card-link mr-md-2" data-toggle="collapse" href="#collapse7">
                            <span class="text-dark font-weight-bold">کمک به رشد بیشتر</span>
                        </a>
                    </div>
                    <div id="collapse7" class="collapse mr-md-2" data-parent="#accordion">
                        <div class="card-body">
                            <p class="mr-md-2 font-weight-normal">
                                کارافرینان در این روش برای تامین مالی بدون هیچ محدودیتی به انبوهی از سرمایه گذاران حقیقی و حقوقی دسترسی پیدا خواهند نمود. و هر سرمایه گذاری در هر جای کشور به راحتی می تواند در طرح مورد نظر سرمایه گذاری و به موفقیت آن کمک نماید.
                            </p>
                        </div>
                    </div>
                </div>


                <div class="mt-4">
                    <div id="headercollapse8" class="">
                        <i class="bi bi-check2-circle text-warning font-weight-bold" style="font-size:17px;"></i>
                        <a class="card-link mr-md-2" data-toggle="collapse" href="#collapse8">
                            <span class="text-dark font-weight-bold">سایر موارد</span>
                        </a>
                    </div>
                    <div id="collapse8" class="collapse mr-md-2" data-parent="#accordion">
                        <div class="card-body">
                            <p class="mr-md-2 font-weight-normal">
                                الف)مقرون به صرفه و کم هزینه
                                سکوی تامین مالی جمعی هم آفرین برای شروع کارزار شما هزینه ای در نظر نمی گیرد و تنها در صورت موفقیت در کمپین، به میزان 4 درصد از وجوه جمع آوری شده کارمزد دریافت می نماید.
                            </p>

                            <p class="mr-2 font-weight-normal">

                                ب)ایجاد ذخیره استراتژیک مالی برای شرکت و دسترسی مداوم به شبکه سرمایه گذاران

                            </p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


</div>


<script>

    function GoToElement(elementId) {

        //document.getElementById("header" + elementId).scrollIntoView();

        $(document).ready(function () {

            $('html, body').animate({
                scrollTop: $("#header" + elementId).offset().top
            }, 2000);
        });
        //location.href("#"+elementId);
    }

</script>