<div class="container-fluid">
    <h2 class="text-center text-bold font-size-normal">مزایای سرمایه گذاری در هم آفرین</h2>

    <div class="row mt-5">
        <div class="col-12 col-md-4 pr-0">


            <div class="col-12 mt-5">
                <div class="row">
                    <div class="col-3 border-left d-flex">
                        <img class="w-100" src="~/Content/img/Inverstment/1.svg" />
                    </div>
                    <div class="col-9">
                        <div class="help">
                            <a class="text-dark" data-toggle="collapse" href="#collapse1" onclick="GoToElement('mydiv1')" style="text-decoration:none">انتشار طرح های هیجان انگیز با سود جذاب</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-12 mt-5">
                <div class="row">

                    <div class="col-3 border-left d-flex">
                        <img class="w-100" src="~/Content/img/Inverstment/2.svg" />
                    </div>
                    <div class="col-9 ">
                        <div class="help">
                            <a class="text-dark" data-toggle="collapse" href="#collapse2" onclick="GoToElement('mydiv2')" style="text-decoration:none">اطمینان از صحت اطلاعات طرح</a>
                        </div>

                    </div>


                </div>
            </div>


            <div class="col-12 mt-5">
                <div class="row">
                    <div class="col-3 border-left d-flex">
                        <img class="w-100" src="~/Content/img/Inverstment/3.svg" />
                    </div>
                    <div class="col-9 ">
                        <div class="help">
                            <a class="text-dark" data-toggle="collapse" href="#collapse3" onclick="GoToElement('collapse1')" style="text-decoration:none">ضمانت های مطمئن</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-12 mt-5">
                <div class="row">
                    <div class="col-3 border-left d-flex">
                        <img class="w-100" src="~/Content/img/Inverstment/4.svg" />
                    </div>
                    <div class="col-9 ">
                        <div class="help">
                            <a class="text-dark" data-toggle="collapse" href="#collapse4" onclick="GoToElement('collapse2')" style="text-decoration:none">نظارت سازمان بورس و شرکت فرابورس</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>



        <div class="col-12  d-sm-block col-md-4">
            <center>
                <img style="height:450px;  width: 100%;" src="~/Content/img/SarmayehGozar_Page_Mazaya.jpg" />
            </center>

        </div>



        <div class="col-12 col-md-4">

            
            <div class="col-12 mt-5">
                <div class="row">
                    <div class="col-9 text-left border-left">
                        <div class="help">
                            <span class="text-dark"></span>
                            <a class="text-dark" data-toggle="collapse" href="#collapse5" onclick="GoToElement('collapse3')" style="text-decoration:none">دریافت گواهی شراکت از فرابورس</a>
                        </div>
                    </div>
                    <div class="col-3">
                        <center>
                            <img class="w-100" src="~/Content/img/Inverstment/5.svg" />
                        </center>

                    </div>
                </div>
            </div>


            <div class="col-12 mt-5">
                <div class="row">
                    <div class="col-9 text-left border-left">
                        <div class="help">
                            <span class="text-dark"></span>
                            <a class="text-dark" data-toggle="collapse" href="#collapse6" onclick="GoToElement('collapse4')" style="text-decoration:none">نظارت مستمر بر اجرای طرح</a>
                        </div>
                    </div>
                    <div class="col-3">
                        <center>
                            <img class="w-100" src="~/Content/img/Inverstment/6.svg" />
                        </center>

                    </div>
                </div>
            </div>


            <div class="col-12 mt-5">
                <div class="row">
                    <div class="col-9 text-left border-left">
                        <div class="help">
                            <a class="text-dark" data-toggle="collapse" href="#collapse7" onclick="GoToElement('collapse5')" style="text-decoration:none">ارتباط مستقیم سرمایه گذران و سرمایه پذیر</a>
                        </div>
                    </div>
                    <div class="col-3">
                        <center>
                            <img class="w-100" src="~/Content/img/Inverstment/7.svg" />
                        </center>

                    </div>
                </div>
            </div>


            <div class="col-12 mt-5">
                <div class="row">
                    <div class="col-9 text-left border-left">
                        <div class="help">
                            <a class="text-dark" data-toggle="collapse" href="#collapse8" onclick="GoToElement('collapse6')" style="text-decoration:none">سایر</a>
                        </div>
                    </div>
                    <div class="col-3">
                        <img class="w-100" src="~/Content/img/Inverstment/8.svg" />
                    </div>
                </div>
            </div>


        </div>

        @*<div class="col-md-1"></div>*@

    </div>

    <div class="col-12 mb-3" id="headermydiv1">

    </div>
    <br />

    <div class="container-fluid container-md">
        <div class="col-12" id="headermydiv2">

        </div>
        <div class="row mt-5 mb-5">

            <div class="col-md-1"></div>
            <div class="col-12 col-md-11" id="accordion">



                <div class="mt-4">
                    <div id="headercollapse1" class="">
                        <i class="bi bi-check2-circle text-warning font-weight-bold" style="font-size:17px;"></i>
                        <a class="card-link mr-md-2" data-toggle="collapse" href="#collapse1">
                            <span class="text-dark font-weight-bold">انتشار طرح های هیجان انگیز با سود جذاب</span>
                        </a>
                    </div>
                    <div id="collapse1" class="collapse mr-md-2" data-parent="#accordion">
                        <div class="card-body">
                            <p class="mr-md-2 font-weight-normal">
                                در سکوی هم آفرین انواع فرصتهای سرمایه گذاری در طرح های هیجان انگیز با سود اقتصادی جذاب به سرمایه گذاران معرفی می شود.
                                در نتیجه سرمایه گذاران با ویژگی های طرح ها به طور کامل آشنا می شوند و ریسک های هر یک از طرح ها را نیز بررسی خواهند کرد. از طرف دیگر آنها از حمایت های حقوقی و فنی سکو نیز برخوردار خواهند شد.
                                قابل توجه سرمایه گذاران محترم: هر طرح قبل از انتشار در سکوی هم آفرین به تایید شرکت فرابورس ایران می رسد و نماد اختصاصی دریافت می کند.
                            </p>
                        </div>
                    </div>
                </div>


                <div class="mt-4">

                    <div id="headercollapse2" class="">
                        <i class="bi bi-check2-circle text-warning font-weight-bold" style="font-size:17px;"></i>
                        <a class="card-link mr-md-2" data-toggle="collapse" href="#collapse2">
                            <span class="text-dark font-weight-bold">اطمینان از صحت اطلاعات طرح</span>
                        </a>
                    </div>
                    <div id="collapse2" class="collapse mr-md-2" data-parent="#accordion">
                        <div class="card-body">
                            <p class="mr-md-2 font-weight-normal">
                                هر طرحی که در هم آفرین نمایش داده می شود و هر کمپینی که در آن آغاز می گردد، توسط تیم حرفه ای ما مورد بررسی جدی قرار گرفته است. همه اطلاعات مالی و حقوقی شرکت و همچنین ارزیابی فنی ، مالی و امکان سنجی طرح و ریسک های آن به دقت بررسی می گردد.
                                پس از تایید اطلاعات متقاضی کمپین نمایش داده می شود. این کمپین شامل متن اصلی کمپین و فیلم آن است.
                                شایان ذکر است بررسی، ارزیابی و تایید اطلاعات ارائه شده متقاضی و طرح جهت نمایش به سرمایه گذاران در سکو توسط ناظرفنی / مالی مورد تایید فرابورس انجام خواهد پذیرفت.
                            </p>
                        </div>
                    </div>
                </div>



                <div class="mt-4">
                    <div id="headercollapse3" class="">
                        <i class="bi bi-check2-circle text-warning font-weight-bold" style="font-size:17px;"></i>
                        <a class="card-link mr-md-2" data-toggle="collapse" href="#collapse3">
                            <span class="text-dark font-weight-bold">ضمانت های مطمئن</span>
                        </a>
                    </div>
                    <div id="collapse3" class="collapse mr-md-2" data-parent="#accordion">
                        <div class="card-body">
                            <p class="mr-md-2 font-weight-normal">
                                ما به عنوان نماینده سرمایه گذاران، مقدمات لازم جهت عقد قرارداد با متقاضی را به دقت فراهم می نماییم.
                                و تعهدات قانونی لازم برای پایبندی وی به انجام تعهدات را اخذ می نماییم. همچنین هم افرین محافظت از سرمایه با دریافت تضامین کافی و مناسب از متقاضی و اطمینان از بازگشت سرمایه سرمایه گذاران را انجام خواهد داد.
                            </p>
                        </div>
                    </div>
                </div>


                <div class="mt-4">
                    <div id="headercollapse4" class="">
                        <i class="bi bi-check2-circle text-warning font-weight-bold" style="font-size:17px;"></i>
                        <a class="card-link mr-md-2" data-toggle="collapse" href="#collapse4">
                            <span class="text-dark font-weight-bold">نظارت سازمان بورس و شرکت فرابورس</span>
                        </a>
                    </div>
                    <div id="collapse4" class="collapse mr-md-2" data-parent="#accordion">
                        <div class="card-body">
                            <p class="mr-md-2 font-weight-normal">
                                شرکت مشاوره سرمایه‌گذاری فراز ایده نوآفرین تک(فاینتک) به شماره ثبت 518892 و شماره 11555 در سازمان بورس و اوراق بهادار به عنوان یک نهادهای مالی دارای مجوز، با ایجاد مجموعه‌ای پویا، و حرفه ای و باسابقه درخشان ، بابهره‌مندی از شبکه ارتباطی گسترده با شرکت‌های معتبر ایرانی و بین‌المللی فعال در زمینه مسائل مالی و اقتصادی، انواع خدمات شامل خدمات تامین مالی، مدیریت دارایی و سرمایه‌گذاری، ارزش‌گذاری سهام شرکت‌ها و ... را ارائه می‌دهد. همچنین خدمات تامین مالی جمعی فاینتک با مجوز رسمی از شرکت فرابورس ایران در سکوی هم آفرین ارائه می گردد.
                            </p>
                        </div>
                    </div>
                </div>



                <div class="mt-4">
                    <div id="headercollapse5" class="">
                        <i class="bi bi-check2-circle text-warning font-weight-bold" style="font-size:17px;"></i>
                        <a class="card-link mr-md-2" data-toggle="collapse" href="#collapse5">
                            <span class="text-dark font-weight-bold">دریافت گواهی شراکت از فرابورس</span>
                        </a>
                    </div>
                    <div id="collapse5" class="collapse mr-md-2" data-parent="#accordion">
                        <div class="card-body">
                            <p class="mr-md-2 font-weight-normal">
                                سرمایه گذاران پس از انتخاب طرح ، پذیرش قرارداد، بیانیه ریسک و واریز مبلغ مورد نظر خود، در پایان دوره تکمیل سرمایه ورقه بهاداری-که دارای نماد اختصاصی از فرابورس می باشد- را به صورت الکترونیک دریافت می کنند این گواهی حاکی از میزان مشارکت سرمایه گذاران است.
                            </p>
                        </div>
                    </div>
                </div>


                <div class="mt-4">
                    <div id="headercollapse6" class="">
                        <i class="bi bi-check2-circle text-warning font-weight-bold" style="font-size:17px;"></i>
                        <a class="card-link mr-md-2" data-toggle="collapse" href="#collapse6">
                            <span class="text-dark font-weight-bold">نظارت مستمر بر اجرای طرح</span>
                        </a>
                    </div>
                    <div id="collapse6" class="collapse mr-md-2" data-parent="#accordion">
                        <div class="card-body">
                            <p class="mr-md-2 font-weight-normal">
                                ما از متقاضی می خواهیم که گزارش پیشرفت مالی و فنی طرح را جهت اطلاع سرمایه گذاران به طور منظم به سکو ارائه نماید. پس از بررسی این گزارشات توسط ناظر فنی/مالی طرح و اطمینان از صحت آنها گزارشات بر روی سکو نمایش داده خواهد شد.
                                در حقیقت این یک مزیت اصلی هم آفرین است که به نمایندگی از سرمایه گذاران نقش نظارتی را برای آنها انجام می دهد. این بدان معناست که سرمایه گذاران بدون نیاز به پرداخت هیچ هزینه ای می توانند بر اجرای همه طرح هایی که سرمایه گذاری نموده اند به آسانی نظارت داشنه باشند.
                            </p>
                        </div>
                    </div>
                </div>



                <div class="mt-4">
                    <div id="headercollapse7" class="">
                        <i class="bi bi-check2-circle text-warning font-weight-bold" style="font-size:17px;"></i>
                        <a class="card-link mr-md-2" data-toggle="collapse" href="#collapse7">
                            <span class="text-dark font-weight-bold">شبکه سرمایه گذاران دائمی و مدیریت شدهارتباط مستقیم سرمایه گذران و سرمایه پذیر</span>
                        </a>
                    </div>
                    <div id="collapse7" class="collapse mr-md-2" data-parent="#accordion">
                        <div class="card-body">
                            <p class="mr-md-2 font-weight-normal">
                                هر سرمایه گذار نیازهای اطلاعاتی، معیارهای سرمایه گذاری، نگرانی ها و سوالات خود را دارد. بنابراین در هم آفرین ارتباط و دسترسی سرمایه گذاران به کارآفرینان به سهولت انجام می پذیرد.
                                از طرف دیگر مزیت بی نظیر تامین مالی جمعی این است که سرمایه گذاران زیادی را گرد هم می آورد که همه آنها به دنبال کسب و کار خاصی هستند و سوالات مرتبط را مطرح می کنند و همه سرمایه گذاران می توانند از سوالات و نظرات مطرح شده تالار گفتگو بهره مند شوند.
                                این ویژگی ها سبب افزایش اطمینان سرمایه گذاران برای سرمایه گذاران خواهد شد و می توانند بهتر اطلاعات مورد نیاز خود را از طرح را دریافت کنند.
                            </p>
                        </div>
                    </div>
                </div>


                <div class="mt-4">
                    <div id="headercollapse8" class="">
                        <i class="bi bi-check2-circle text-warning font-weight-bold" style="font-size:17px;"></i>
                        <a class="card-link mr-md-2" data-toggle="collapse" href="#collapse8">
                            <span class="text-dark font-weight-bold">سایر</span>
                        </a>
                    </div>
                    <div id="collapse8" class="collapse mr-md-2" data-parent="#accordion">
                        <div class="card-body">
                            <p class="mr-md-2 font-weight-normal">
                                فرصت نقد شوندگی در بازار ثانویه
                            </p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


</div>


<script>

    function GoToElement(elementId) {

        //document.getElementById("header" + elementId).scrollIntoView();

        $(document).ready(function () {

            $('html, body').animate({
                scrollTop: $("#header" + elementId).offset().top
            }, 2000);
        });
        //location.href("#"+elementId);
    }

</script>