@model DataLayer.Tbl_BusinessPlanGallery


<div class="my-2">
    <div class="card">
        <img src="~/Images/BusinessPlans/Image/@Model.ImageName" style="height:200px" class="card-img-top" alt="@Model.Title">
    </div>
</div>

<div>
    <img src="~/Images/BusinessPlans/Image/@Model.ImageName" style="height:200px" class="card-img-top" alt="@Model.Title">
</div>

