<div class="d-flex flex-row" style="position:relative">
    <div>
        <a class="btn shadow-none border-left" href="/InvestmentHelp/FinancingPage#faq">
            <i class="bi bi-file-earmark-plus addicon"></i>
        </a>
    </div>
    <div class="dropdown">
        <a class="btn loginIcon dropdown shadow-none btn-user" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="bi bi-person-circle"></i>
        </a>
        <div class="dropdown-menu login p-3" aria-labelledby="dropdownMenuButton">
            @if (User.Identity.IsAuthenticated)
            {
                if (UserSetAuthCookie.GetRoleID(User.Identity.Name) == 1)
                {
                    <a href="/Admin" class="btn btn-login-register">
                        <i class="bi bi-person-check-fill"></i>
                        @UserSetAuthCookie.GetUserName(User.Identity.Name)
                    </a>
                }
                else
                {
                    <a href="/UserPanel/UserProfile" class="btn btn-login-register">
                        <i class="bi bi-person-check-fill"></i>
                        @if (string.IsNullOrWhiteSpace(UserSetAuthCookie.GetFullName(User.Identity.Name)) == false)
                        {
                            @UserSetAuthCookie.GetFullName(User.Identity.Name)
                        }
                        else
                        {
                            @UserSetAuthCookie.GetUserName(User.Identity.Name)
                        }
                    </a>
                }
                <a href="/LogOut" class="btn btn-login-register"><i class="bi bi-power"></i> خروج</a>
            }
            else
            {
                <a href="/Account/Login" class="btn btn-login-register"><i class="bi bi-person d-inline"></i> ورود</a>
                <a href="/Account/Register" class="btn btn-login-register"><i class="bi bi-person-plus-fill d-inline"></i> ثبت نام </a>
            }
        </div>
    </div>
    <div class="d-none d-md-block label-btn-user">پنل کاربری</div>
</div>
