
@{
    ViewBag.Title = "Shaparak";
}

<h2>Shaparak</h2>



    @ViewBag.Message
    <form id="PaymentForm" method="post" Action="https://pep.shaparak.ir/payment.aspx">
        <input type="hidden" name="Token" value="@ViewBag.Token" />
        <input type="submit" name="submit" value="ارسال به درگاه پرداخت" />
    </form>
