@model List<ViewModels.AffiliateViewModel>

@{
    ViewBag.Title = "گزارش بازاریابی";
    Layout = "~/Areas/UserPanel/Views/Shared/_Layout.cshtml";
}
@if (Model.Any())
{
    var i = 1; 
    <section class="container-fluid px-0">
        <div class="table-responsive d-none d-md-block">
            <table class="table mt-2 table-bordered text-center">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ردیف</th>
                        <th scope="col">شناسه</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@item.Id</td>
                        </tr>
                        { i++; }
                    }
                </tbody>
            </table>
        </div>
    </section>
}
else
{
    <div class="alert alert-warning" role="alert">
        کاربری از شعبه شما ثبت نام نشده است.
    </div>
}

